<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnlyClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if user_signed_in? %>
        <p> Signed in as <%= current_user.name %> </p>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      <%else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <%end%>
    </p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
